[submodule "ACNH"]
	path = ACNH
	url = https://github.com/Katsching/ACNH.git
[submodule "translation-sheet-data"]
	path = translation-sheet-data
	url = https://github.com/alexislours/translation-sheet-data.git
